.home{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__header{
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home__header a{
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.home__header a:hover{
  text-decoration: underline;
}

.home__headerRight{
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

.home__body{
  flex:1;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
}


.home__body > img {
  object-fit: contain;
  width: 560px;
  height: 224px;
}
.home__inputContainer {
  flex:1
}

.home__footer {
  display: flex;
  width: 600px;
  justify-content: space-between;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  height: 50px;

  .about {
    color: #8E8E94;
    text-decoration: none;
    display: flex;
    >img {
      width: 17px;
      height: 17px;
      margin-right:6px;
    }
  }

  .ainize {
    color: #8E8E94;
    text-decoration: none;
    display: flex;
    >img {
      width: 14px;
      height: 13.6px;
      padding-top:1px;
      margin-right:6px;
    }
  }

  .github {
    color: #8E8E94;
    text-decoration: none;
    display: flex;
    >img {
      width: 17px;
      height: 17px;
      margin-right:6px;
    }
  }
}