
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
  }
  
  .searchPage__logo {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
  }
  
  .searchPage__headerbody>.search>.search__input {
    margin-top: 0;
    width: 560px;
    margin: unset;
    max-width: unset;
  }
  
  .searchPage__options {
    display: flex;
    align-items: center;
    color: grey;
  }
  
  .searchPage__options a,
  .searchPage__optionsRight a {
    text-decoration: none;
    color: gray;
  }
  
  
  .searchPage__optionsLeft,
  .searchPage__optionsRight {
    display: flex;
  }
  
  .searchPage__optionsRight {
    margin-left: 80px;
  }
  
  .searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .searchPage__option a {
    margin-left: 5px;
  }
  
  .searchPage__results {
    margin: 40px 0;
  }
  
  .searchPage__resultCount {
    color: #70757a;
    font-size: 14px;
  }
  
  .searchPage__results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
  }
  
  .searchPage__resultImage {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  
  .searchPage__resultTitle {
    text-decoration: none;
  }
  
  .searchPage__resultTitle:hover {
    text-decoration: underline;
  }
  
  .searchPage__resultTitle>h2 {
    font-weight: 500;
  }
  
  .searchPage__resultSnippet {
    margin-top: 10px;
  }
  .Image-name{
    height: 150px;
    width: 150px;
  }
  .App-container{
    width: 150px;
    height: auto;
    display: inline-block;
    margin: 20px;

  }
  .app_result{
    height: auto;
    width: auto;
    margin: 0 auto;
    align-items: center;
    max-width: 1400px;
    display: block;
    background-color: #F4F4F7;
    border-radius: 10px;
    padding-top: 5px;
  }

.meme_result{
  height: auto;
  width: auto;
  margin: 0 auto;
  align-items: center;
  max-width: 1400px;
  margin-top: 10px;
  display: block;
  text-align: center;
  background-color: #F4F4F7;
  border-radius: 10px;
}
.meme-image{
  width: 400px;
  height: auto;
  margin: 30px 20px 20px 30px;
}
.model-Title{
  text-align: center;
}
.Model_result{
  text-align: center;
}
.wiki-sentence{
  list-style-image: url("https://img.icons8.com/officel/16/000000/jake.png");
  font-size: 16px;
  margin: 5px;
}

.icon{
  vertical-align: middle;
}
.cross_result{
  height: auto;
  width: auto;
  margin: 0 auto;
  align-items: center;
  max-width: 1400px;
  margin-top: 10px;
  display: block;
  text-align: center;
  background-color: #F4F4F7;
  border-radius: 10px;

}
.cross_image{
  width: 200px;
  height: auto;
  margin: 30px 20px 20px 30px;
}
.people_container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: #F4F4F7;
  border-radius: 10px;
  padding-top: 10px;
  padding-left:10px;
}

a {
  text-decoration-line: none;
}

.people_name{
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
}

.community {
  margin-left: auto;
}

.LoadingBackground {
  width: 1000px;
  height: 700px;
  display: flex;
  margin: 0 auto;
}

.LoadingIcon{
  margin: auto;
}